* {
  list-style: none;
  text-decoration: none;
  color: black;
}
html,
body {
  height: 100%;
  margin: 0px;
  padding: 0px;
  font-family: "Inter", sans-serif;
}
body {
  display: flex;
  flex-direction: column;
}
.fill {
  flex-grow: 1;
}
.margin-header {
  margin: 0px 7.5% 0px 7.5%;
}

h1 {
  text-align: center;
}
.outer-container {
  display: flex;
  flex-wrap: wrap;
}
.text-container {
  max-width: 400px;
}
.text-container p{
  font-size: 18px;
}
.right-img {
  height: 300px;
  margin-bottom: 15px;
  border-radius: 5px;
}

.text-container:on {
  color: brown;
}
@media screen and (max-width: 400px) {
  .outer-container img {
    height: auto;
    width: 95%;
  }
}
@media   screen and (max-width: 490px) {
  .fill {
    flex-grow: 0;
  }
}