.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  background-color: rgb(245, 245, 245);
  column-gap: 70px;
}
.footer-img {
  height: 30px;
}
@media screen and (max-width: 600px) {
  .footer-container {
    flex-direction: column;
  }
  .footer-container nav {
    margin-bottom: 20px;
  }
}