.header-container {
  margin: 0px 7.5% 0px 7.5%;
}
.header-nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 90px;
}

.headerpart-1 {
  width: 120px;
  display: flex;
  justify-content: flex-start;
}
.logo-img {
  height: 60px;
}

.headerpart-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
.pages-container {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 50px;
}
.pages-container li {
  width: 135px;
  display: flex;
  justify-content: center;
}
.page-button {
  font-size: 24px;
  display: inline-flex;
  align-items: center;
  height: 60px;
  padding-left: 10px;
  padding-right: 10px;
  color: rgb(0, 0, 0);
  border-radius: 3px;

  transition: all 0.15s ease-out;
  background: linear-gradient(
    to top,
    rgba(195, 195, 195, 0.252) 50%,
    rgba(0, 0, 0, 0) 50%
  );
  background-size: 100% 200%;
  background-position: top;
}
.page-button:hover {
  background-position: bottom;
}

.headerpart-3 {
  width: 120px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header-line {
  width: 100%;
  height: 3px;
  background-color: #0066ff;
  transform-origin: bottom;
}
/* dropdown menu */
.dropdown-button {
  display: none;
}
.dropdown-container {
  display: none;
  height: 400px;
  width: 300px;

  right: 0px;
  top: 93px;
  background-color: tomato;
}

@media only screen and (max-width: 790px) {
  .page-button {
    display: none;
  }
  .pages-container li {
    width: 0px;
  }
  .dropdown-button {
    display: inline-block;
  }
}
