* {
  list-style: none;
  text-decoration: none;
  color: black;
}
html,
body {
  height: 100%;
  margin: 0px;
  padding: 0px;
  font-family: "Inter", sans-serif;
}
body {
  display: flex;
  flex-direction: column;
}

/* margin left and right of home */
.margin-header {
  margin: 0px 7.5% 0px 7.5%;
}
.fill {
  flex-grow: 1;
}
/* home block styling */
.home-block {
  display: flex;
  flex-wrap: wrap;
  padding: 1%;
}

.text-block {
  display: flex;
  flex-direction: column;
}

.text-block h2 {
  font-size: 20px;
  font-weight: 600;
}
.text-block p {
  font-size: 20px;
  font-weight: 400;
  max-width: 400px;
  margin: 0px;
}
.text-block a {
  display: flex;
  align-items: center;
}
/* more about me/project link */
.more-to-page {
  font-weight: 600;
  font-size: 18px;
  margin: 10px 0px 10px 0px;
}
.more-to-page img {
  height: 16px;
  margin-left: 3px;
}

.right-foto {
  height: 300px;
}
@media only screen and (max-width: 400px) {
  .right-foto {
    width: 95%;
    height: auto;
  }
}
@media only screen and (max-width: 490px) {
  .fill {
    flex-grow: 0;
  }
}
