* {
  list-style: none;
  text-decoration: none;
  color: black;
}
html,
body {
  height: 100%;
  margin: 0px;
  padding: 0px;
  font-family: "Inter", sans-serif;
}
body {
  display: flex;
  flex-direction: column;
}
.margin-header {
  margin: 0px 7.5% 0px 7.5%;
}
.fill {
  flex-grow: 1;
}
h1 {
  text-align: center;
}
.example-work {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border-radius: 3px;
  margin-bottom: 20px;
  padding: 3%;
  background-color: rgb(245, 245, 245);
}
.example-text {
  height: 100%;
}
.example-img {
  height: 320px;
}
ul {
  padding: 0px;
}
.example-text li {
  margin: 0 0 15px 0;
}
@media only screen and (max-width: 780px) {
  .example-img {
    height: auto;
    width: 95%;
  }
}